 #header { width: 100%; margin-top: 20px;}
 
 #header h1 { text-shadow: 5px 5px #ff0000;}
 
 /* not used
 
 .tagline {
    font-variant: small-caps;
    background: url("../images/top-tagline.png") left center no-repeat;
    height: 33px;
    color: transparent;
    text-shadow: none;
}

.contact-flag {
    background: #ecdb95 linear-gradient(#ecdb95, #bead67);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 6px -2px #333333;
    position: absolute;
    top: 0;
    right: 0;
    width: 252px;
    height: 100px;
    text-shadow: 0px 1px 1px #dfd7b7;
    font-size: 13px;
    font-weight: 700;
    color: #004d68;
    padding: 12px 20px;
}

.site-title a {
    /*color: transparent;
    text-shadow: none;
    display: inline;
    /*background: url("../images/ca-logo.png") no-repeat;
    width: 390px;
    height: 74px;
    margin: 40px 0 25px;
}

*/

